* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Departure Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 11px;
}

window#waybar {
    background-color: #1a1417;
    border-bottom: 3px solid #d9cbae;
    color: #d9cbae;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces button {
}

#workspaces button.focused, #workspaces button.active {
    font-weight: bold;
    color: #1a1417;
    background-color: #d9cbae;
}

#workspaces button.urgent {
    background-color: #af4b3b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 2px;
    margin: 6 0px;
    background-color: #1a1417;
    color: #d9cbae;
    border-radius: 4px;
}

#window,
#workspaces {
    margin: 0 4px;
}

#taskbar button.active {
	background-color: #d9cbae;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock:hover {
    background-color: #d9cbae;
    color: #1a1417;
}

#cpu:hover {
    background-color: #d9cbae;
    color: #1a1417;
}

#memory:hover {
    background-color: #d9cbae;
    color: #1a1417;
}

#wireplumber:hover {
    background-color: #d9cbae;
    color: #1a1417;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#cpu {
}

#memory {
}

#disk {
}


#wireplumber {
}

#wireplumber.muted {
    /* background-color: #f53c3c; */
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #c18549;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
